<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: rgb(41, 41, 41);
            font-family: 'Poppins', sans-serif;
            font-weight: 900;
        }

        #name {
            color: rgb(189, 189, 189);
            margin-top: 5%;
            font-size: 3em;
        }

        #About {
            width: auto;
            height: fit-content;
            color: rgb(105, 105, 105);
            font-size: 1.5rem;
            display: flex;
            padding-left: 20vw;
        }

        #inner-about {
            text-align: left;
            margin-right: 5rem;
        }

        #color {
            color: white;
            -webkit-animation: glow 1s ease-in-out infinite alternate;
            -moz-animation: glow 1s ease-in-out infinite alternate;
            animation: glow 1s ease-in-out infinite alternate;
        }

        #score-div {
            display: flex;
            justify-content: center;
            flex-direction: row;
        }

        em {
            all: unset;
        }

        #score {
            font-size: 5em;
            margin-bottom: -1px;
        }

        @-webkit-keyframes glow {
            from {
                text-shadow: 0 0 20px #fff, 0 0 30px #cefff7, 0 0 40px #cefff7, 0 0 50px #cefff7;
            to {
                text-shadow: 0 0 20px #fff, 0 0 30px #cefff7, 0 0 40px #cefff7, 0 0 50px #cefff7;
                }
            }
}
    </style>
</head>
<body>
    <h1 id="name">"<%= data[0].name %>"</h1>
    <div id="About">
        <div id="inner-about">
            <p><%= data[0].about %></p>
        </div>
    </div>


    <div id="score-div">
        <p id="score"><em id="color"><%= data[0].rating %></em>/10</p>
    </div>
</body>
</html>