<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <div id="parent">
        <% for (let index = 0; index < lenght; index++) {%>
            <form action="/Book/<%= index + 1 %>" method="get" class="module-border-wrap">
                <div class="module">
                    <input type="submit" value="<%= result[index].name %>">
                </div>
            </form>
        <%} %>
    </div>
</body>
</html>